.navbar_custom {
  margin-top: 1.5rem;
  & > ul {
    list-style: none;
    display: flex;

    & > li {
      margin-right: 1rem;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

@media (min-width: 768px) {
  .navbar_custom {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    & > ul {
      list-style: none;
      display: flex;

      & > li {
        margin-right: 2rem;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}
